.App {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.article_list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.list_item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
}

#votes-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  border: 2px solid gray;
}

#comment-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid gray;
}

#comment-box {
  height: 50px;
}

#comments {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid gray;
}

.comment {
  margin: 5px;
  padding: 10px;
  border: 2px solid gray;
}
